<div *ngIf="!isLoggedIn()" fxLayoutAlign="center center" >

  <mat-card class="cardStyling" >
    <mat-card-header>
      <mat-card-title>Registration Form</mat-card-title>
      <mat-card-subtitle>Please fill your information to login</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>


    <mat-card-content fxLayoutAlign="center stretch" fxLayout="column">

      <div fxLayout="column" class="registerForm">

        <mat-radio-group [(ngModel)]="personType">
          <mat-radio-button>natural Person</mat-radio-button>
          <mat-radio-button>legal Person</mat-radio-button>
        </mat-radio-group>



        <mat-form-field>
          <input autofocus matInput placeholder="{{ 'GENERAL.FIRSTNAME' | translate }}" [(ngModel)]="user.firstname"
                 type="text" id="firstname" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'GENERAL.LASTNAME' | translate }}" [(ngModel)]="user.lastname" id="lastname"
                 name="lastname">
        </mat-form-field>
        <mat-form-field>
          <input autofocus matInput placeholder="{{ 'GENERAL.EMAIL' | translate }}" [(ngModel)]="user.email" type="text"
                 id="email2" name="email2">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'GENERAL.PASSWORD' | translate }}" [(ngModel)]="user.password" type="password"
                 id="password" name="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'GENERAL.PASSWORD_CONFIRMATION' | translate }}" [(ngModel)]="user.password"
                 type="password" id="passwordConfirmation" name="passwordConfirmation">
        </mat-form-field>
      </div>
      <div class="registerSubmit">
        <button type="submit" [disabled]="loginRunning" mat-raised-button color="accent" (click)=registerUser();>
          {{ 'GENERAL.REGISTER' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
