<div fxLayout="column" class="contentWrapper">
  <h1 class="mat-h1">Neuen Vertrag erstellen</h1>

  <mat-form-field>
    <mat-select placeholder="Genetische Ressource" name="geneticResource">
      <mat-option>Sonnenblume</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Empfänger" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Betrag" type="text">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Dokument" type="text">
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent">Angebot erstellen</button>
</div>
