<div fxLayoutAlign="center" class="wrapper">

  <mat-card class="cardStyling" *ngIf="afterRegistration">
    <mat-card-header>
      <mat-card-title><span>{{'CONFIRMATION.AFTER_REGISTRATION.TITLE'|translate}}</span></mat-card-title>
      <mat-card-subtitle><span>{{'CONFIRMATION.AFTER_REGISTRATION.SUB_TITLE'|translate}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <p><span>{{'CONFIRMATION.AFTER_REGISTRATION.CONTENT'|translate}}</span></p>

    </mat-card-content>

  </mat-card>

  <mat-card class="cardStyling" *ngIf="!afterRegistration">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="startedConfirmation">{{'CONFIRMATION.VALIDATION.START.TITLE'|translate}}</span>
        <span *ngIf="tokenConfirmed">{{'CONFIRMATION.VALIDATION.SUCCESS.TITLE'|translate}}</span>
        <span *ngIf="!tokenConfirmed">{{'CONFIRMATION.VALIDATION.FAILED.TITLE'|translate}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <br />
        <span *ngIf="startedConfirmation">{{'CONFIRMATION.VALIDATION.START.SUB_TITLE'|translate}}</span>
        <span *ngIf="tokenConfirmed">{{'CONFIRMATION.VALIDATION.SUCCESS.SUB_TITLE'|translate}}</span>
        <span *ngIf="!tokenConfirmed">{{'CONFIRMATION.VALIDATION.FAILED.SUB_TITLE'|translate}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>
      <br />
      <p>
        <span *ngIf="startedConfirmation">{{'CONFIRMATION.VALIDATION.START.CONTENT'| translate}}</span>
        <span *ngIf="tokenConfirmed">{{'CONFIRMATION.VALIDATION.SUCCESS.CONTENT'| translate}}</span>
        <span *ngIf="!tokenConfirmed">{{'CONFIRMATION.VALIDATION.FAILED.CONTENT'| translate}}</span>
      </p>
      <div *ngIf="personResponse" style="margin-top: 1em;">
        <p><b>{{'CONFIRMATION.VALIDATION.SUCCESS.KEYS_INFO'|translate}}</b></p>
        <p><b>{{'CONFIRMATION.VALIDATION.SUCCESS.PUBLIC_KEY'|translate}}:</b><br>{{personResponse.keys[0].publicKey}}</p>
        <p *ngIf="personResponse.keys[0].privateKey"><b>{{'CONFIRMATION.VALIDATION.SUCCESS.PRIVATE_KEY'|translate}}:</b><br>{{personResponse.keys[0].privateKey}}</p>
        <br>
        <p *ngIf="personResponse.keys[0].privateKey" style="color: red; font-weight: bold;">{{'CONFIRMATION.VALIDATION.SUCCESS.KEYS_PRIVATE_INFO'|translate}}</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>