<div class="wrapper">
	<div class="innerwrapper">
		<div class="jumbotron">
			<div class="container-full">
				<div class="row">
					<div class="col">
						<table>
							<tr>
								<td>
									<a class="flex-sm-fill text-sm-center nav-link" routerLink="/">
										<img alt="plantinhand" src="./assets/icons/icons8-tree-planting-60_w.png">
									</a>
								</td>
								<td>
									<h1 i18n="@@introductionHeader">{{'HOME.TITLE'|translate}}</h1>
									<p class="lead">{{'HOME.SUBTITLE'|translate}}</p>
								</td>
							</tr>
						</table>
					</div>
					<div class="col language">
						<label>
							{{'HOME.SELECT'|translate}}
							<select #langSelect (change)="setLanguage(langSelect.value)" class="homeSelect">
								<option *ngFor="let lang of i18nService.supportedLanguages" [value]="lang" [selected]="lang === translate.currentLang">{{lang}}</option>
							</select>
						</label>
					</div>
				</div>
			</div>
		</div>
		<app-progress [hidden]="!showSpinner()"></app-progress>
		<div style="margin: 1em;">
			<div class="alert alert-danger" *ngFor='let message of messageService.errorMessages'>{{message}}</div>
			<div class="alert alert-warning" *ngFor='let message of messageService.warningMessages'>{{message}}</div>
			<div class="alert alert-info" *ngFor='let message of messageService.infoMessages'>{{message}}</div>
			<div class="alert alert-success" *ngFor='let message of messageService.successMessages'>{{message}}</div>
			<router-outlet></router-outlet>
		</div>
	</div>
	<footer class="page-row footer">
		<div style="text-align: center;">
			<nav class="nav nav-pills flex-column flex-sm-row navbar">
				<a class="flex-sm-fill text-sm-center nav-link" routerLink="/terms">{{'SITES.TERMS'|translate}}</a>
				<a class="flex-sm-fill text-sm-center nav-link" routerLink="/legal">{{'SITES.LEGAL'|translate}}</a>
				<a class="flex-sm-fill text-sm-center nav-link" routerLink="/about">{{'SITES.ABOUT'|translate}}</a>
			</nav>
		</div>
	</footer>
</div>
