@import '~@angular/material/theming';
@import './theme/custom-theme.scss';
@include angular-material-theme($theme);

@import '~ngx-toastr/toastr.css';


@font-face {
  font-family: 'Roboto';
  font-style: inherit;
  src: local('Roboto'), local('Roboto-Regular'), url('/src/theme/fonts/Roboto-Regular.ttf') format('ttf');
  font-size: 60px;
}

html, body {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  padding:0;
}

.cardStyling {
  margin: 2%;
}


