/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* angular merial themes */
////@import '@angular/material/prebuilt-themes/purple-green.css';
//@include mat-core();
//
//// Primary colour
//$my-app-primary: mat-palette($mat-green);
//// Accent colour
//$my-app-accent: mat-palette($mat-deep-orange);
//
//$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
//@include angular-material-theme($my-app-theme);
//
//@import '~@angular/material/theming';
//@include mat-core();
//@import 'normalize.css';
// CSS RESET
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
//
//html, body, div, span, applet, object, iframe,
//h1, h2, h3, h4, h5, h6, p, blockquote, pre,
//a, abbr, acronym, address, big, cite, code,
//del, dfn, em, img, ins, kbd, q, s, samp,
//small, strike, strong, sub, sup, tt, var,
//b, u, i, center,
//dl, dt, dd, ol, ul, li,
//fieldset, form, label, legend,
//table, caption, tbody, tfoot, thead, tr, th, td,
//article, aside, canvas, details, embed,
//figure, figcaption, footer, header, hgroup,
//menu, nav, output, ruby, section, summary,
//time, mark, audio, video {
//  margin: 0;
//  padding: 0;
//  border: 0;
//  font-size: 100%;
//  font: inherit;
//  vertical-align: baseline;
//}
///* HTML5 display-role reset for older browsers */
//article, aside, details, figcaption, figure,
//footer, header, hgroup, menu, nav, section {
//  display: block;
//}
//body {
//  line-height: 1;
//}
//ol, ul {
//  list-style: none;
//}
//blockquote, q {
//  quotes: none;
//}
//blockquote:before, blockquote:after,
//q:before, q:after {
//  content: '';
//  content: none;
//}
//table {
//  border-collapse: collapse;
//  border-spacing: 0;
//}
// CUSTOM CSS
@import '~@angular/material/theming';
@import './theme/custom-theme.scss';

@include angular-material-theme($theme);
//
//$break-small: 320px;
//$break-large: 1200px;

@font-face {
  font-family: 'Roboto';
  font-style: inherit;
  src: local('Roboto'), local('Roboto-Regular'), url('/src/theme/fonts/Roboto-Regular.ttf') format('ttf');
  font-size: 60px;
}

html, body {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  padding:0;
}

.cardStyling {
  margin: 2%;
}


