<div class="wrapper">
  <mat-card class="cardStyling">
    <mat-card-header>
      <mat-card-title>Registration Form</mat-card-title>
      <mat-card-subtitle>Please fill your information to login</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">

      <mat-radio-group [(ngModel)]="selectedPersonType" class="personTypeGroup" fxLayout="column"
                       fxLayoutAlign="start stretch">
        <mat-radio-button *ngFor="let personType of personTypes" [value]="personType" class="personTypeOption">
          {{personType}}
        </mat-radio-button>
      </mat-radio-group>


      <!--Natural Person Form-->
      <app-dynamic-form [dataObject]="naturalPerson"
                        *ngIf="selectedPersonType === 'natural'"
                        [submitFunction]="submitForm"></app-dynamic-form>

      <!--Legal Person Form-->
      <app-dynamic-form [dataObject]="legalPerson"
                        *ngIf="selectedPersonType === 'legal'"
                        [submitFunction]="submitForm"></app-dynamic-form>


    </mat-card-content>
  </mat-card>
</div>

