.wrapper {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.resourceSelectionList{
  display: inline-block;
  background-color: white;
  overflow: hidden;
  margin-bottom: 15px;
}

.innerResourceSelectionList{
  overflow-y: scroll;
  height: 250px;
  max-height: 250px;
}
