<form [formGroup]="geneticResourceForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
  <mat-form-field>
    <input matInput type="text" formControlName="identifier" placeholder="identifier">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="description" placeholder="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="source" placeholder="source">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="origin" placeholder="origin">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="hashSequence" placeholder="hash Sequence">
  </mat-form-field>

  <span class="visibilityRadioHint">Sichtbarkeit</span>
  <mat-radio-group formControlName="visibilityType" class="visibilityRadioGroup">

    <mat-radio-button [checked] *ngFor="let visibilityType of visibilityTypes" [value]="visibilityType"
                      class="visibilityRadioButton">
      {{visibilityType.valueOf()}}
    </mat-radio-button>
  </mat-radio-group>

  <button type="submit" mat-raised-button color="accent" [disabled]="geneticResourceForm.invalid">
    <span>Hinzufügen</span>
  </button>


</form>
