<form novalidate fxLayout="column">

  <mat-form-field>
    <input matInput placeholder="Pflanzen Name" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pflanzen Art" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Famile" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ursprungsland" type="text">
  </mat-form-field>

  <div fxLayout="row">
    <div fxFlex></div>
    <button type="submit" mat-raised-button color="accent" class="addButton"><span>Hinzufügen</span></button>
  </div>
</form>
<br />
<mat-divider></mat-divider>
