<form [formGroup]="geneticResourceForm" novalidate fxLayout="column">

  <h3>Beschreibung</h3>

  <mat-form-field>
    <input matInput type="text" formControlName="identifier" placeholder="identifier">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="description" placeholder="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="source" placeholder="source">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="origin" placeholder="origin">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="hashSequence" placeholder="hash Sequence">
  </mat-form-field>

  <span class="visibilityRadioHint">Sichtbarkeit</span>
  <mat-radio-group formControlName="visibilityType" class="visibilityRadioGroup">

    <mat-radio-button [checked] *ngFor="let visibilityType of visibilityTypes" [value]="visibilityType"
                      class="visibilityRadioButton">
      {{visibilityType.valueOf().toLowerCase()}}
    </mat-radio-button>
  </mat-radio-group>



<h3>Taxonomische Ordnung</h3>
  <mat-form-field>
    <input type="text" placeholder="Ordnung" matInput [matAutocomplete]="taxonomicOrder">
    <mat-autocomplete #taxonomicOrder="matAutocomplete">
      <mat-option *ngFor="let order of orders" [value]="order">
        {{order}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Familie" matInput [matAutocomplete]="taxonomicFamily">
    <mat-autocomplete #taxonomicFamily="matAutocomplete">
      <mat-option *ngFor="let family of families" [value]="family">
        {{family}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Subfamilie" matInput [matAutocomplete]="taxonomicSubFamily">
    <mat-autocomplete #taxonomicSubFamily="matAutocomplete">
      <mat-option *ngFor="let subFamily of subFamilies" [value]="subFamily">
        {{subFamily}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <div fxLayout="column">
    <div fxLayout="row">
      <div>
        <h3>Dokumente</h3>
      </div>
      <div fxFlex></div>
      <div>
        <input type="file" hidden #fileInput (change)="addAttachment($event)">

        <button mat-raised-button (click)="fileInput.click()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div *ngFor="let attachment of attachments" fxLayout="row">
      <div fxLayoutAlign="center center">
        {{attachment.name}}
      </div>
      <div fxFlex></div>
      <div>
        <button mat-button (click)="removeAttachment(attachment)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <br/>
  </div>




  <!--<div>-->
    <!--<mat-card *ngFor="let attachment of attachments" fxLayout="row">-->
      <!--<div fxLayoutAlign="center center">-->
        <!--{{attachment.name}}-->
      <!--</div>-->
      <!--<div fxFlex></div>-->
      <!--<div>-->
        <!--<button mat-button (click)="removeAttachment(attachment)"><mat-icon>delete</mat-icon></button>-->
      <!--</div>-->
    <!--</mat-card>-->
    <!--<br />-->
  <!--</div>-->
  <!--<br />-->

  <!--<input type="file" hidden #fileInput (change)="addAttachment($event)">-->

  <!--<button mat-raised-button color="accent" (click)="fileInput.click()">-->
    <!--ADD FILE-->
  <!--</button>-->
  <!--<br />-->

  <button type="submit" mat-raised-button color="accent" [disabled]="geneticResourceForm.invalid" (click)="onSubmit()">
    <span>CREATE</span>
  </button>


</form>
