<div fxLayoutAlign="center" class="wrapper">

  <mat-card class="cardStyling" *ngIf="afterRegistration">
    <mat-card-header>
      <mat-card-title>Your registration was successfull</mat-card-title>
      <mat-card-subtitle>Please confirm your E-Mail address</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br/>
      <p>A confirmation E-Mail was sent to you. Please follow the descriptions in order to confirm your registration</p>

    </mat-card-content>
  </mat-card>

  <mat-card class="cardStyling" *ngIf="!afterRegistration">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="startedConfirmation">Your Registration will be validated</span>
        <span *ngIf="tokenConfirmed">Your registration was successfull</span>
        <span *ngIf="!tokenConfirmed">Your registration was not successfull</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="startedConfirmation">Please wait for the confirmation</span>
        <span *ngIf="tokenConfirmed">Your Registration was confirmed</span>
        <span *ngIf="!tokenConfirmed">Your Registration was could not be confirmed</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
        dolor sit amet.

        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam
      </p>
    </mat-card-content>
  </mat-card>

</div>

