<div class="userForm">
  <div fxLayout="row" fxLayout.lt-md="column">
    <!--<mat-card fxFlex="50%" class="cardStyling">-->
    <mat-card class="cardStyling" fxFlex="60">
      <mat-card-header>
        <mat-card-title><span>{{'LOGIN.ABOUT.TITLE'|translate}}</span></mat-card-title>
        <mat-card-subtitle><span>{{'LOGIN.ABOUT.SUB_TITLE'|translate}}</span></mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <div>
          <p><span>{{'LOGIN.ABOUT.CONTENT'|translate}}</span></p>
          <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
            eu
            feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
            zzril
            delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit,
            sed diam</p>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="cardStyling" fxFlex="40">
      <!--<mat-card fxFlex="50%" class="cardStyling">-->
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content fxLayoutAlign="center center">
        <!--Login Form-->
        <div fxFlex="100%" class="loginForm">
          <form (ngSubmit)="loginUser()" [formGroup]="loginForm" novalidate fxLayout="column">

            <div [hidden]="!error || loginRunning" translate>
              <span>{{'LOGIN.ERROR.WRONG_DATA'|translate}}</span>
            </div>

            <br />

            <mat-form-field>
              <input matInput placeholder="{{ 'GENERAL.EMAIL' | translate }}" formControlName="email" autocomplete="email"
                type="text" id="email" name="email">
              <mat-error *ngIf="loginForm.controls.email.valid || loginForm.controls.email.untouched">
                <span>{{'LOGIN.VALIDATION.EMAIL_REQUIRED'|translate}}</span>

              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="{{ 'GENERAL.PASSWORD' | translate }}" formControlName="password"
                autocomplete="password" type="password" id="password" name="password">
              <mat-error *ngIf="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                <span>{{'LOGIN.VALIDATION.PASSWORD_REQUIRED'|translate}}</span>
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" [disabled]="loginRunning || (loginForm.touched && loginForm.invalid)">
              {{ 'GENERAL.AUTHENTICATE' | translate }}
            </button>
          </form>

          <div fxLayout="column" class="loginRegistrationBox">

            <div style="margin: 0 0 1em 0; font-size: 1.2em;">
              <a class="loginHint" routerLink="/register"><span>{{'LOGIN.LOGIN_FORM.REGISTRATION_LINK'|translate}}</span>
              </a>
            </div>

            <div style="margin-bottom: 2em;">
              <a class="loginHint" routerLink="/register"><span>{{'LOGIN.LOGIN_FORM.PASSWORD_RECOVERY'|translate}}</span></a>
            </div>

            <mat-form-field>
              <mat-select [(value)]="selectedLanguage"
                placeholder="{{'HEADER.SELECT'|translate}}" #langSelect (selectionChange)="translate.use(langSelect.value)">
                <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang" (select)="lang === translate.currentLang">{{lang}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>