<h1 class="mat-h1">Meine genetischen Ressourcen</h1>

<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="searchPanel">Suche</mat-expansion-panel-header>
    <div fxLayout="column">
      <!--<div>-->
        <mat-form-field class="searchField">
          <input matInput type="text" placeholder="Bezeichnung" [(ngModel)]="geneticResourceFilter.identifier">
        </mat-form-field>
      <!--</div>-->

      <mat-form-field class="searchField">
        <input matInput type="text" placeholder="Beschreibung" [(ngModel)]="geneticResourceFilter.description">
      </mat-form-field>
      <mat-form-field class="searchField">
        <input matInput type="text" placeholder="Herkunft" [(ngModel)]="geneticResourceFilter.origin">
      </mat-form-field>
      <mat-form-field class="searchField">
        <input matInput type="text" placeholder="Quelle" [(ngModel)]="geneticResourceFilter.source">
      </mat-form-field>
      <mat-form-field class="searchField">
        <input matInput type="text" placeholder="Hash Sequenz" [(ngModel)]="geneticResourceFilter.hashSequence">
      </mat-form-field>

      <div fxLayout="row">
        <div fxFlex></div>
        <button mat-button (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  </div>
<br />
<mat-accordion>
  <mat-expansion-panel *ngFor="let resource of geneticResources">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{resource.identifier}}
      </mat-panel-title>
      <mat-panel-description>
        {{resource.origin}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div fxLayout="column">
        <span class="descriptionTitle">Beschreibung</span>
        <p>{{resource.description}}</p>
        <span class="descriptionTitle">Sichtbarkeit</span>
        <p>{{resource.visibilityType}}</p>
        <span class="descriptionTitle">Hashsequenz</span>
        <p>{{resource.hashSequence}}</p>
        <span class="descriptionTitle">Herkunftsland</span>
        <p>{{resource.source}}</p>

      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
