<div class="contentWrapper">

  <h2 class="mat-h2">Passwort Änderung</h2>
  <p>Hier können Sie Ihr Passwort ändern</p>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="altes Passwort"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="neues Passwort"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="neues Passwort bestätigen"
             type="password">
    </mat-form-field>
    <div>
      <div fxFlex></div>
      <button type="submit" mat-raised-button color="accent">Ändern</button>
    </div>
  </div>
</div>
