<div class="contentWrapper">

  <h2 class="mat-h2">Passwort Änderung</h2>
  <p>Hier können Sie Ihr Passwort ändern</p>
  <form [formGroup]="pwChangeForm" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="altes Passwort" formControlName="oldPassword"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="neues Passwort" formControlName="newPassword"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="neues Passwort bestätigen" formControlName="newPasswordConfirmation" [errorStateMatcher]="matcher"
             type="password">
      <mat-error *ngIf="pwChangeForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <div>
      <div fxFlex></div>
      <button type="submit" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="pwChangeForm.invalid">Ändern</button>
    </div>
  </form>
</div>
