<div class="contentWrapper">

  <h2 class="mat-h2">{{'CHANGE_PASSWORD.TITLE'|translate}}</h2>
  <p>{{'CHANGE_PASSWORD.SUB_TITLE'|translate}}</p>
  <form [formGroup]="pwChangeForm" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="{{'CHANGE_PASSWORD.FORM.OLD_PASSWORD'|translate}}" formControlName="oldPassword"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'CHANGE_PASSWORD.FORM.NEW_PASSWORD'|translate}}" formControlName="newPassword"
             type="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'CHANGE_PASSWORD.FORM.NEW_PASSWORD_CONFIRMATION'|translate}}" formControlName="newPasswordConfirmation" [errorStateMatcher]="matcher"
             type="password">
      <mat-error *ngIf="pwChangeForm.hasError('notSame')">
        {{'CHANGE_PASSWORD.ERROR.NO_MATCH'|translate}}
      </mat-error>
    </mat-form-field>
    <div>
      <div fxFlex></div>
      <button type="submit" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="pwChangeForm.invalid">{{'CHANGE_PASSWORD.ACTION.UPDATE'|translate}}</button>
    </div>
  </form>
</div>
