.addButton{
  margin-left: 15px;
}

.visibilityRadioGroup{
  margin-top:15px;
  margin-bottom:30px;
}

.visibilityRadioButton{
  margin-right: 10px;
}

.visibilityRadioHint{
  color:rgba(0, 0, 0, 0.54);
}

h3{
  margin: 0;
}

//.hidden {
//  display:none;
//}
