<div style="text-align: center; width: 100%; color: red; padding: 1em;">
  <div>
    <h2>{{'BROWSER_NOT_OK.WARNING'|translate}}</h2>
    <p>{{'BROWSER_NOT_OK.ERROR_MSG'|translate}}</p>
  </div>
  <div style="color: black; margin-top: 2em;">
  </div>
  {{'BROWSER_NOT_OK.RECOMMENDED_BROWSER'|translate}}
  <br>
  <a href="https://www.mozilla.org/firefox/download/thanks/">Mozilla Firefox</a>
  <br>
  <a href="https://www.google.com/chrome/">Google Chrome</a>
  <br>
  <a href="https://www.opera.com">Opera</a>
  <br>
  <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>
</div>