<div style="text-align: center; width: 100%; color: red;">
  <div>
      <h2>WARNING</h2>
      <p>You are using an outdated browser, which is not supported.</p>
  </div>
  <div>
      <h2>WARNUNG</h2>
      <p>Sie verwenden einen veralteten Browser, der nicht unterstützt wird.</p>
  </div>
  <div style="color: black; margin-top: 2em;">
    Recommended Browsers / Empfohlene Browser
    <br>
    <a href="https://www.mozilla.org/firefox/download/thanks/">Mozilla Firefox</a>
    <br>
    <a href="https://www.google.com/chrome/">Google Chrome</a>
    <br>
    <a href="https://www.opera.com">Opera</a>
    <br>
    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>
  </div>
</div>
