<div class="contentWrapper">
  <h2 class="mat-h2">Ihre Stammdaten</h2>
<pre>{{user | json}}</pre>
  <div class="descriptionBlock" fxLayout="column" *ngIf="toggleUpdateData">
    <div class="innerDescriptionBlock" fxLayout="column">
      <div *ngIf="user.personType === 'NATURAL'" fxLayout="column">
        <span class="descriptionTitle">Vorname</span>
        <span>{{user.firstname}}</span>
        <br/>
        <span class="descriptionTitle">Nachname</span>
        <span>{{user.lastname}}</span>
        <br/>
      </div>
      <div *ngIf="user.personType === 'LEGAL'" fxLayout="column">
        <span class="descriptionTitle">name}}</span>
        <span>{{user.name}}</span>
        <br/>
        <span class="descriptionTitle">commercialRegisterNumber</span>
        <span>{{user.commercialRegisterNumber}}</span>
        <br/>
        <span class="descriptionTitle">taxNumber</span>
        <span>{{user.taxNumber}}</span>
        <br/>
      </div>
      <span class="descriptionTitle">E-Mail</span>
      <span>{{user.email}}</span>
      <br/>
      <div>
        <div fxFlex></div>
        <button type="button" mat-raised-button color="accent" (click)="toggleEditMode()">Bearbeiten</button>
      </div>
    </div>
  </div>
  <form *ngIf="!toggleUpdateData" [formGroup]="masterDataForm" (onSubmit)="updateData()" fxLayout="column">

    <div>
      <div fxFlex></div>
      <button mat-button (click)="toggleEditMode()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div *ngIf="user.personType === 'NATURAL'" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" formControlName="firstname" placeholder="firstname">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="lastname" placeholder="lastname">
      </mat-form-field>
    </div>

    <div *ngIf="user.personType === 'LEGAL'" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="commercialRegisterNumber" placeholder="commercialRegisterNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="taxNumber" placeholder="taxNumber">
      </mat-form-field>
    </div>

    <mat-form-field>
      <input matInput type="text" formControlName="email" placeholder="E-Mail">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" formControlName="passwordConfirmation" placeholder="Password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent" [disabled]="masterDataForm.invalid" (click)="updateData()">Ändern</button>
  </form>
</div>
