<div class="contentWrapper">
  <h2 class="mat-h2">Ihre Stammdaten</h2>

  <div class="descriptionBlock" fxLayout="column">
    <div class="innerDescriptionBlock" fxLayout="column">
      <span class="descriptionTitle">Vorname</span>
      <span>Testperson</span>
      <br/>
      <span class="descriptionTitle">Nachname</span>
      <span>Testperson</span>
      <br/>
      <span class="descriptionTitle">E-Mail</span>
      <span>testperson@test.at</span>
      <br/>
      <div>
        <div fxFlex></div>
        <button type="submit" mat-raised-button color="accent">Ändern</button>
      </div>
    </div>
  </div>
</div>
